
@{
    ViewBag.Title = "SuccessChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>dear @User.Identity.Name</h2>

<div class="alert alert-success">

    <p> Your password is changed,</p>
    <p> Thank you.</p>
</div>

@section Slider
    {
    <div class=" header-text col-md-12">
    </div>
}