
@{
    ViewBag.Title = "ActiveUser";
}


<h2>Dear @ViewBag.userName</h2>
<div class="alert alert-success">

    <p>We admire you, </p>
    <p> Click on the link below to enter the site</p>
</div>
<a class="btn btn-success" href="/Login">Login</a>

@section Slider
    {
    <div class=" header-text col-md-12">
    </div>
}