
@{
    ViewBag.Title = "SuccessRecoveryPass";
}



<div class="alert alert-success">

<h2>thank you for everything</h2>
<p>The recovery activation was successfuly .</p>
<p>click <a href="/Login">hear</a> to sign in.</p>
</div>


@section Slider
    {
    <div class=" header-text col-md-12">
    </div>
}
