@model DataLayer.Users 

@{
    ViewBag.Title = "SuccessRegister";
}

<h2>Dear @Model.UserName</h2>
<div class="alert alert-success">

    <p> Your registration was successful,</p>
    <p> We sent you an email with an activation link,</p>
    <p>Click on that link to complete the registration.</p>
</div>

@section Slider
    {
    <div class=" header-text col-md-12">
    </div>
}