
@{
    ViewBag.Title = "SuccessForgotPass";
}

<div class="alert alert-success">

    <h2>thank you for everything</h2>
    <p>Go to your Email and click on the link for Recovery Password.</p>
</div>

@section Slider
    {
    <div class=" header-text col-md-12">
    </div>
}
